/* RESET */

/* Use more intuitive box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* END RESET */

body {
    font-family: Garamond, "Times New Roman", serif;
    max-width: 756px;
}

h1,
h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.site-title h1 {
    font-size: 48px;
    color: firebrick;
}